apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubeadm.kubernetes.io/etcd.advertise-client-urls: {{ . | etcdAdvertiseUrls }}
  creationTimestamp: null
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - --advertise-client-urls=https://{{ .HostIP }}:2379
    - --cert-file={{ .BkeConfig.Cluster.CertificatesDir }}/etcd/server.crt
    - --client-cert-auth=true
    - --data-dir=/var/lib/openFuyao/etcd
    - --initial-advertise-peer-urls=https://{{ .HostIP }}:2380
    - --initial-cluster={{ .Extra.EtcdInitialCluster | initialCluster }}
    {{- if not .Extra.Init }}
    - --initial-cluster-state=existing
    {{- end }}
    - --key-file={{ .BkeConfig.Cluster.CertificatesDir }}/etcd/server.key
    - --listen-client-urls=https://127.0.0.1:2379,https://{{ .HostIP }}:2379
    - --listen-metrics-urls=http://{{ .HostIP }}:2381
    - --listen-peer-urls=https://{{ .HostIP }}:2380
    - --name={{ .HostName }}
    - --peer-cert-file={{ .BkeConfig.Cluster.CertificatesDir }}/etcd/peer.crt
    - --peer-client-cert-auth=true
    - --peer-key-file={{ .BkeConfig.Cluster.CertificatesDir }}/etcd/peer.key
    - --peer-trusted-ca-file={{ .BkeConfig.Cluster.CertificatesDir }}/etcd/ca.crt
    - --trusted-ca-file={{ .BkeConfig.Cluster.CertificatesDir }}/etcd/ca.crt
    - --auto-compaction-retention=1
    {{- range . | extraArgs }}
    - --{{ . }}
    {{- end }}
    image: {{ . | imageRepo }}{{ . | imageInfo }}
    imagePullPolicy: IfNotPresent
    livenessProbe:
      failureThreshold: 8
      httpGet:
        #host: 127.0.0.1
        path: /health
        port: 2381
        scheme: HTTP
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: etcd
    resources: {}
    volumeMounts:
    - mountPath: /var/lib/openFuyao/etcd
      name: etcd-data
    - mountPath: {{ .BkeConfig.Cluster.CertificatesDir }}/etcd
      name: etcd-certs
  hostNetwork: true
  priorityClassName: system-cluster-critical
  volumes:
  - hostPath:
      path: {{ .BkeConfig.Cluster.CertificatesDir }}/etcd
      type: DirectoryOrCreate
    name: etcd-certs
  - hostPath:
      path: /var/lib/openFuyao/etcd
      type: DirectoryOrCreate
    name: etcd-data
status: {}