kind: Pod
apiVersion: v1
metadata:
  name: kube-controller-manager
  namespace: kube-system
  labels:
    component: kube-controller-manager
    tier: control-plane
spec:

  containers:
    - name: kube-controller-manager
      image: {{ . | imageRepo }}{{ . | imageInfo }}
      command:
        - kube-controller-manager
        - --v=0
        - --authentication-kubeconfig=/etc/kubernetes/controller-manager.conf
        - --authorization-kubeconfig=/etc/kubernetes/controller-manager.conf
        - --bind-address={{ .HostIP }}
        - --cluster-name={{ .ClusterName }}
        - --client-ca-file=/etc/kubernetes/pki/ca.crt
        - --cluster-signing-cert-file=/etc/kubernetes/pki/ca.crt
        - --cluster-signing-key-file=/etc/kubernetes/pki/ca.key
        - --kubeconfig=/etc/kubernetes/controller-manager.conf
        - --leader-elect=true
        - --requestheader-client-ca-file=/etc/kubernetes/pki/front-proxy-ca.crt
        - --root-ca-file=/etc/kubernetes/pki/ca.crt
        - --service-account-private-key-file=/etc/kubernetes/pki/sa.key
        - --use-service-account-credentials=true
        - --profiling=false
        - --node-monitor-grace-period=20s
        - --node-monitor-period=5s
        - --node-startup-grace-period=30s
        - --tls-cert-file=/etc/kubernetes/tls-server.crt
        - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - --tls-private-key-file=/etc/kubernetes/tls-server.key
        {{- if ne .BkeConfig.Cluster.Networking.PodSubnet "" }}
        - --allocate-node-cidrs=true
        - --cluster-cidr={{ .BkeConfig.Cluster.Networking.PodSubnet }}
        - --node-cidr-mask-size={{ getSubnetMask .BkeConfig.Cluster.Networking.PodSubnet }}
        {{- if ne .BkeConfig.Cluster.Networking.ServiceSubnet "" }}
        - --service-cluster-ip-range={{ .BkeConfig.Cluster.Networking.ServiceSubnet }}
        {{- end }}
        {{- end }}
        {{- range . | extraArgs }}
        - --{{ . }}
        {{- end }}
      resources:
        requests:
          cpu: 200m
      volumeMounts:
        - name: k8s-certs
          readOnly: true
          mountPath: /etc/kubernetes/pki
        - name: kubeconfig
          mountPath: /etc/kubernetes
        - name: localtime
          mountPath: /etc/localtime
          readOnly: true
      livenessProbe:
        httpGet:
          path: /healthz
          port: 10257
          host: {{ .HostIP }}
          scheme: HTTPS
        initialDelaySeconds: 15
        timeoutSeconds: 15
  volumes:
    - name: k8s-certs
      hostPath:
        path: {{ .BkeConfig.Cluster.CertificatesDir }}
        type: DirectoryOrCreate
    - name: kubeconfig
      hostPath:
        path: {{ .Extra.KubernetesDir }}
    - name: localtime
      hostPath:
        path: /etc/localtime

  hostNetwork: true